<div class="layer">

  <h1>Please fill the form to create a new cocktail</h1>

  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.button :submit, class: "btn btn-danger" %>
  <% end %>

</div>
