<div class="layer">

  <h1>please add an ingredient</h1>


  <p>Please check if your ingredient is already in the list</p>


  <%= simple_form_for @dose, url: cocktail_doses_path(@cocktail) do |f| %>
    <%= f.input :ingredient_id, collection: @ingredients %>
    <%= f.input :description %>

    <%= f.submit 'create' %>
  <% end %>

</div>
